.DS_Store
.buildpath
.project
.settings
.idea
.svn
assets/cache/*
assets/page_types/*
!assets/page_types/.htaccess
!assets/page_types/default/
assets/page_types/default/*
!assets/page_types/default/.htaccess
system/cms/cache/*
system/cms/config/database.php
system/cms/logs/log-*.php
nbproject/
uploads/*

apps/*
!apps/shared_apps
apps/shared_apps/*

!apps/shared_apps/helpers
apps/shared_apps/helpers/*
!apps/shared_apps/helpers/index.html

!apps/shared_apps/libraries
apps/shared_apps/libraries/*
!apps/shared_apps/libraries/index.html

!apps/shared_apps/modules
apps/shared_apps/modules/*
!apps/shared_apps/modules/galleries
!apps/shared_apps/modules/index.html

!apps/shared_apps/widgets
apps/shared_apps/widgets/*
!apps/shared_apps/widgets/google_maps
!apps/shared_apps/widgets/twitter_feed
!apps/shared_apps/widgets/index.html

!apps/shared_apps/themes
apps/shared_apps/themes/*
!apps/shared_apps/themes/conjuction
!apps/shared_apps/themes/minimal
!apps/shared_apps/themes/index.html

!apps/shared_apps/plugins
apps/shared_apps/plugins/*
!apps/shared_apps/plugins/robots.php
!apps/shared_apps/plugins/example.php
!apps/shared_apps/plugins/index.html

!apps/shared_apps/field_types
apps/shared_apps/field_types/*
!apps/shared_apps/field_types/index.html
system/cms/config/config.php
