.table:not(.skip) th.center, .table:not(.skip) td.center  { text-align:center; }
.table:not(.skip) th.right, .table:not(.skip) td.right    { text-align:right; }

.table:not(.skip) th.headerSortable:hover {
  cursor:pointer;
}
.table:not(.skip) th.headerSortDown {
  background-image: url('../img/asc.gif');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right:16px !important;
}
.table:not(.skip) th.headerSortUp {
  background-image: url('../img/desc.gif');
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right:16px !important;
}

.table:not(.skip) tr.highlight td,         .table:not(.skip) tr.highlight:hover td,
.table:not(.skip) td.highlight,            .table:not(.skip) td.highlight:hover             { background:#FFF9D7 !important; }
.table:not(.skip) tr.highlight-primary td, .table:not(.skip) tr.highlight-primary:hover td,
.table:not(.skip) td.highlight-primary,    .table:not(.skip) td.highlight-primary:hover     { background:#0074cc !important; color:#FFF; }
.table:not(.skip) tr.highlight-info td,    .table:not(.skip) tr.highlight-info:hover td,
.table:not(.skip) td.highlight-info,       .table:not(.skip) td.highlight-info:hover        { background:#49afcd !important; color:#FFF; }
.table:not(.skip) tr.highlight-success td, .table:not(.skip) tr.highlight-success:hover td,
.table:not(.skip) td.highlight-success,    .table:not(.skip) td.highlight-success:hover     { background:#5bb75b !important; color:#FFF; }
.table:not(.skip) tr.highlight-warning td, .table:not(.skip) tr.highlight-warning:hover td,
.table:not(.skip) td.highlight-warning,    .table:not(.skip) td.highlight-warning:hover     { background:#faa732 !important; color:#FFF; }
.table:not(.skip) tr.highlight-danger td,  .table:not(.skip) tr.highlight-danger:hover td,
.table:not(.skip) td.highlight-danger,     .table:not(.skip) td.highlight-danger:hover      { background:#da4f49 !important; color:#FFF; }
.table:not(.skip) tr.highlight-inverse td, .table:not(.skip) tr.highlight-inverse:hover td,
.table:not(.skip) td.highlight-inverse,    .table:not(.skip) td.highlight-inverse:hover     { background:#414141 !important; color:#FFF; }

/* DEFAULT THEME */

.table:not(.skip) caption {
  text-align:left;
  padding:10px 0;
}

/* DARK THEME */

.table:not(.skip)-dark {
  width: 100%;
  margin-bottom: 18px;
  color:#CCC;
}
.table:not(.skip)-dark caption {
  color:#FFF;
}
.table:not(.skip)-dark th,
.table:not(.skip)-dark td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #232323;
}
.table:not(.skip)-dark th.headerSortable:hover {
  cursor:pointer;
}
.table:not(.skip)-dark th.headerSortDown,
.table:not(.skip)-dark th.headerSortUp {
  background-color:#000;
  background-image: url('../img/asc_light.gif');
  background-repeat: no-repeat;
  background-position: center right;
}
.table:not(.skip)-dark th {
  font-weight: bold;
}
.table:not(.skip)-dark thead th {
  background:#111;
  color:#E5E5E5;
  vertical-align: bottom;
}
.table:not(.skip)-dark colgroup + thead tr:first-child th,
.table:not(.skip)-dark colgroup + thead tr:first-child td,
.table:not(.skip)-dark thead:first-child tr:first-child th,
.table:not(.skip)-dark thead:first-child tr:first-child td {
  border-top: 0;
}
.table:not(.skip)-dark tbody + tbody {
  border-top: 2px solid #232323;
}
.table:not(.skip)-dark.table:not(.skip)-condensed th,
.table:not(.skip)-dark.table:not(.skip)-condensed td {
  padding: 4px 5px;
}
.table:not(.skip)-dark.table:not(.skip)-bordered {
  border: 1px solid #232323;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.table:not(.skip)-dark.table:not(.skip)-bordered th,
.table:not(.skip)-dark.table:not(.skip)-bordered td {
  border-left: 1px solid #232323;
}
.table:not(.skip)-dark.table:not(.skip)-bordered thead:first-child tr:first-child th,
.table:not(.skip)-dark.table:not(.skip)-bordered tbody:first-child tr:first-child th,
.table:not(.skip)-dark.table:not(.skip)-bordered tbody:first-child tr:first-child td
.table:not(.skip)-dark{
    border-top: 0;
}
.table:not(.skip)-dark.table:not(.skip)-bordered thead:first-child tr:first-child th:first-child,
.table:not(.skip)-dark.table:not(.skip)-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.table:not(.skip)-dark.table:not(.skip)-bordered thead:first-child tr:first-child th:last-child,
.table:not(.skip)-dark.table:not(.skip)-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
.table:not(.skip)-dark.table:not(.skip)-bordered thead:last-child tr:last-child th:first-child,
.table:not(.skip)-dark.table:not(.skip)-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
.table:not(.skip)-dark.table:not(.skip)-bordered thead:last-child tr:last-child th:last-child,
.table:not(.skip)-dark.table:not(.skip)-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
.table:not(.skip)-dark.table:not(.skip)-striped tbody tr:nth-child(odd) td,
.table:not(.skip)-dark.table:not(.skip)-striped tbody tr:nth-child(odd) th {
  background-color: #393939;
}
.table:not(.skip)-dark tbody tr td,
.table:not(.skip)-dark tbody tr th,
.table:not(.skip)-dark tbody tr:hover td,
.table:not(.skip)-dark tbody tr:hover th {
  background-color: #333;
}

/* STATS THEME */

.table:not(.skip)-stats {
  border:1px solid #C2C2C2;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0 !important;
  font-family:verdana,helvetica,arial,sans-serif;
  font-size:11px;
  color:#333;
}
.table:not(.skip)-stats caption {
  border-left:1px solid #C2C2C2;
  border-right:1px solid #C2C2C2;
  border-top:1px solid #C2C2C2;
  background:#F5F5F5;
  line-height:1.3em;
  background-image: linear-gradient(bottom, #FFF 0%, #E9E9E9 100%);
  background-image: -o-linear-gradient(bottom, #FFF 0%, #E9E9E9 100%);
  background-image: -moz-linear-gradient(bottom, #FFF 0%, #E9E9E9 100%);
  background-image: -webkit-linear-gradient(bottom, #FFF 0%, #E9E9E9 100%);
  background-image: -ms-linear-gradient(bottom, #FFF 0%, #E9E9E9 100%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, #FFF),
  	color-stop(1, #E9E9E9)
  );
  padding:10px;
  font-family:helvetica,arial,sans-serif;
  font-size:13px;
  text-shadow:0 1px 0 #FFF;
}
.table:not(.skip)-stats.table:not(.skip)-bordered, table {
  border-left: 0;
}
.table:not(.skip)-stats th,
.table:not(.skip)-stats td,
table th, table td
{
  background:#FFF;
  color:#666;
  border-top: none;
  border-radius:0 !important;
}
.table:not(.skip)-stats thead tr th, table thead tr th, .table:not(.skip)-stats thead tr.colhead:nth-child(1) th {
  font-size:13px;
  font-weight:bold;
  font-family:helvetica,arial,sans-serif;
  background:#DDD;
  background-image: linear-gradient(bottom, #E8E8E8 0%, #CECECE 100%);
  background-image: -o-linear-gradient(bottom, #E8E8E8 0%, #CECECE 100%);
  background-image: -moz-linear-gradient(bottom, #E8E8E8 0%, #CECECE 100%);
  background-image: -webkit-linear-gradient(bottom, #E8E8E8 0%, #CECECE 100%);
  background-image: -ms-linear-gradient(bottom, #E8E8E8 0%, #CECECE 100%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, #E8E8E8),
  	color-stop(1, #CECECE)
  );
  color:#666;
  border-radius:0 !important;
  padding:4px !important;
  border-bottom:none;
}
.table:not(.skip)-stats thead tr:nth-child(1) th,  table thead tr:nth-child(1) th{
  font-size:13px;
  font-weight:bold;
  font-family:helvetica,arial,sans-serif;
  background:#4B4B4B;
  background-image: linear-gradient(bottom, #565656 0%, #434343 100%);
  background-image: -o-linear-gradient(bottom, #565656 0%, #434343 100%);
  background-image: -moz-linear-gradient(bottom, #565656 0%, #434343 100%);
  background-image: -webkit-linear-gradient(bottom, #565656 0%, #434343 100%);
  background-image: -ms-linear-gradient(bottom, #565656 0%, #434343 100%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, #565656),
  	color-stop(1, #434343)
  );
  color:#FFF;
  border-bottom:1px solid #FFF;
  border-radius:0 !important;
}
.table:not(.skip)-stats th.headerSortable:hover {
  cursor:pointer;
}
.table:not(.skip)-stats th.headerSortDown { background-color:#CCC; }
.table:not(.skip)-stats th.headerSortUp { background-color:#CCC; }
.table:not(.skip)-stats thead tr:nth-child(1) th.headerSortDown {
  background-color:#333;
  background-image: url('../img/asc_light.gif');
  background-repeat: no-repeat;
  background-position: center right;
}
.table:not(.skip)-stats thead tr:nth-child(1) th.headerSortUp {
  background-color:#333;
  background-image: url('../img/desc_light.gif');
  background-repeat: no-repeat;
  background-position: center right;
}
.table:not(.skip)-stats.table:not(.skip)-bordered th, .table:not(.skip)-stats.table:not(.skip)-bordered td {
  border-top: 1px solid #C2C2C2;
  border-left: 1px solid #C2C2C2;
}
.table:not(.skip)-stats.table:not(.skip)-condensed th, .table:not(.skip)-stats.table:not(.skip)-condensed td {
  padding:1px 4px;
}
.table:not(.skip)-stats.table:not(.skip)-striped tbody tr:nth-child(even) td,
.table:not(.skip)-stats.table:not(.skip)-striped tbody tr:nth-child(even) th,
.table:not(.skip)-stats.table:not(.skip)-striped tbody tr:nth-child(even):hover td,
.table:not(.skip)-stats.table:not(.skip)-striped tbody tr:nth-child(even):hover th {
  background-color: #F1F1F1;
}
.table:not(.skip)-stats.table:not(.skip)-striped tbody tr:nth-child(odd) td,
.table:not(.skip)-stats.table:not(.skip)-striped tbody tr:nth-child(odd) th,
.table:not(.skip)-stats.table:not(.skip)-striped tbody tr:nth-child(odd):hover td,
.table:not(.skip)-stats.table:not(.skip)-striped tbody tr:nth-child(odd):hover th {
  background-color: #FFF;
}
.table:not(.skip)-stats thead:first-child tr:first-child th,
.table:not(.skip)-stats tbody:first-child tr:first-child th,
.table:not(.skip)-stats tbody:first-child tr:first-child td {
  border-top: 0;
}

/* PAPER THEME */

.table:not(.skip)-paper {
  border:1px solid #D0D7E9;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0 !important;
  font-family:helvetica,arial,sans-serif;
  color:#333;
}
.table:not(.skip)-paper caption {
  
}
.table:not(.skip)-paper.table:not(.skip)-bordered {
  border-left: 0;
}
.table:not(.skip)-paper thead tr th {
  font-size:13px;
  font-weight:bold;
  background:#EFEFEF;
  color:#666;
  border-radius:0 !important;
  border-top:none;
}
.table:not(.skip)-paper th,
.table:not(.skip)-paper td {
  background:#FFF;
  color:#666;
  box-shadow:inset 0 1px 0 #D0D7E9;
  border-top:none;
  border-radius:0 !important;
}
.table:not(.skip)-paper th.headerSortable:hover {
  cursor:pointer;
}
.table:not(.skip)-paper th.headerSortDown { background-color:#D9D9D9; }
.table:not(.skip)-paper th.headerSortUp { background-color:#D9D9D9; }
.table:not(.skip)-paper.table:not(.skip)-bordered th, .table:not(.skip)-paper.table:not(.skip)-bordered td {
  box-shadow:inset 0 1px 0 #D0D7E9, inset 1px 0 0 #D0D7E9;
  border-left:none;
  border-top:none;
}
.table:not(.skip)-paper.table:not(.skip)-bordered tbody td:nth-child(2) {
  box-shadow:inset 0 1px 0 #D0D7E9;
  border-left:none;
  border-top:none;
}
.table:not(.skip)-paper.table:not(.skip)-striped tbody tr:nth-child(even) td,
.table:not(.skip)-paper.table:not(.skip)-striped tbody tr:nth-child(even) th,
.table:not(.skip)-paper.table:not(.skip)-striped tbody tr:nth-child(even):hover td,
.table:not(.skip)-paper.table:not(.skip)-striped tbody tr:nth-child(even):hover th {
  background-color: #F4F6F9;
}
.table:not(.skip)-paper.table:not(.skip)-striped tbody tr:nth-child(odd) td,
.table:not(.skip)-paper.table:not(.skip)-striped tbody tr:nth-child(odd) th,
.table:not(.skip)-paper.table:not(.skip)-striped tbody tr:nth-child(odd):hover td,
.table:not(.skip)-paper.table:not(.skip)-striped tbody tr:nth-child(odd):hover th {
  background-color: #FFF;
}
.table:not(.skip)-paper thead:first-child tr:first-child th,
.table:not(.skip)-paper tbody:first-child tr:first-child th,
.table:not(.skip)-paper tbody:first-child tr:first-child td {
  box-shadow:none !important;
  border-top:none !important;
}
.table:not(.skip)-paper tbody tr th:first-child,
.table:not(.skip)-paper tbody tr td:first-child {
  border-right:3px double #3498db;
  padding-left:10px;
}