    <!-- Bootstrap core CSS -->
    {{ theme:css file="bootstrap.css" }}

    <!-- Add custom CSS here -->
    {{ theme:css file="modern-business.css" }}
    {{ theme:css file="font-awesome.min.css" }}
    
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{ theme:js file="jquery.js" }}
    {{ theme:js file="bootstrap.js" }}
    {{ theme:js file="modern-business.js" }}
    
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
        
    {{ template:metadata }}